<!DOCTYPE html>
<html>
    <head>
        <title>Calendar</title>
        {% load staticfiles %}
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
        
        <!-- Javascript -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        
        <!-- Page-specific head -->
        {% block head %}{% endblock %}
    </head>
    <body>
    	<div class="container">
        	<h1>Calendar</h1>
        	<div>{% block body %}{% endblock %}</div>
        	<div class="footer">Something</div>
        </div>
    </body>
</html>